<div style="height:fit-content; ">
    <footer style="height: 100%; display:flex; flex-direction:column; background-color:#40AE49;">
        <div
            style=" height:60%; background-color:#40AE49; color:white; display:flex; justify-content:center; align-items:center; font-size:2vh;">
            © 2023 Copyright
            <a href=""><b>All Rights Reserved to Hamly</b></a>

        </div>
        <div
            style="display: flex; height:40%;  background-color:#40AE49; justify-content:center; font-size:2vh; align-items:center; flex-wrap:wrap; height:fit-content;">
            <div>
                <a target="_blank" href="/aboutUs">About Us |</a> <a target="_blank" href="/contactUs">Contact Us |<a target="_blank" href="/privacyPolicy"> Privacy Policy |</a>
            </div>
            <div>
                <a href="https://www.facebook.com/login/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/i/flow/login" class="fa fa-twitter"></a>
                <a href="https://in.linkedin.com/" class="fa fa-linkedin"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram"></a></p>
            </div>
        </div>
    </footer>
</div>