<div class="p-3.bg-gradient"
    style="height: 15%; display: flex; justify-content: space-between; align-items:center; padding-top: 1%; padding-bottom: 1%; background-color:#40AE49;">
    <div id="div-logo" style="height: 100%;">

        <img id="img-logo" src="/image/logo/AppLogo&Name(inverted).png" style="height:11vh; margin-left: 4vw">
    </div>
    <div class="dropdown" style="display: flex; align-items:end">
        <a id="navigation-list" href="#" data-bs-toggle="dropdown" aria-expanded="false"
            style="margin-right: 4vw; width:fit-content; height:5vh"><img src="/image/icons/button-icon.png"
                style="height:5vh;"></a>
        <ul class="dropdown-menu" style="background-color:#40AE49;">
            <li><a id="a-profile" class="dropdown-item" href="profile">Profile</a></li>
            <li><a id="a-change-password" class="dropdown-item" href="changePassword">Change Password</a></li>
            <li><a id="a-report-a-problem" class="dropdown-item" href="report">Report a Problem</a></li>
            <li><a id="a-feedback" class="dropdown-item" href="feedback">Feedback</a></li>
            <li><a id="a-logout" class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
    </div>
</div>