<div id="login-warning"
    style=" text-align:center; font-family:helvetica; margin-top:20vh; font-size: 2.5vh;">
    <label style=" color:rgb(201, 0, 0); font-family:helvetica;">Sign up now and gain access to premium
        features, personalized recommendations, and special security tips tailored just for you.</label><br><br>
    <button onclick="location.href='/login'" class="btn btn-sm" style="background-color: #40AE49; border:0; color:white;"> Login</button>
    <button onclick="location.href='/signup'" class="btn btn-sm" style="background-color: #40AE49; border:0; color:white; margin-left:2vh;">Signup</button><br>
    <button id="remind-button" onclick="clickHistoryButton()" class="btn  btn-secondary btn-sm"
        style="margin-top:3vh; border:0; color:white;"> Skip For Now </button>
</div>