html {
    height: 100%;
}

.fx-1 {
    font-size: 2vw;
    font-family: Helvetica;
}


@media (min-width: 650px) {
    #history-section {
        width: 20%;
    }

    #history-button {
        display: none;
    }

    #remind-button{
        display : none;
    }
}

@media (max-width: 650px) {
    #history-section {
        transform: translateX(-100%);
        display: none;
        position: absolute;
        width: 70vw;
    }

    #history-button {
        transform: translateX(0);
    }

    #analatics-div {
        display: none;
    }
}
